<footer>
    <div class="premier-footer">
        <div class="liens-rapide">
            <h2>Liens rapide</h2>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="a-propos.html">A propos</a></li>
                <li><a href="culture.html">Culture et traditions</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="contact-info">
            <h2>Contact</h2><br>
            <span><i class="fa-solid fa-house"></i> Cameroun 1er avenue 47457</span><br>
            <span><i class="fa-solid fa-envelope"></i> kiengocedric19@gmail.com</span><br>
            <span><i class="fa-solid fa-phone"></i>514-653-3162</span>
        </div>
        <div class="reservation">
            <h2>Prennez rendez-vous</h2>
            <p>Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.</p><br>
            <a href="contact.html"><span>Reserver</span></a>
        </div>
    </div>
    <hr>
    <div class="deuxieme-footer">
        <div class="logo"><img src="assets/camerounLogo.png" alt="logo cameroun"></div>
        <div class="texte">Copyright © 2024 kiengo cedric. All Rights Reserved.</div>
    </div>
    
</footer>