<div class="formulaire-form">
    <div class="image-formulaire-form">
       
    </div>
    <form action="" id="formulaire-form">
        <div class="nom-animal">
            <label for="nom-animal">Nom de l'animal</label>
            <input type="text" name="nom-animal" id="nom-animal" minlength="3" maxlength="20" required>
            <span id="erreur-nom"></span>
        </div>
        <div class="espece-animal">
            <label for="espece-animal">Espece de l'animal</label>
            <input type="text" name="espece-animal" id="espece-animal" required>
            <span id="erreur-espece"></span>
        </div>
        <div class="race-animal">
            <label for="race-animal">Race</label>
            <input type="text" name="race-animal" id="race-animal" required>
            <span id="erreur-race"></span>
        </div>
        <div class="courriel">
            <label for="couriel">Courriel</label>
            <input type="email" name="couriel" id="courriel" required>
            <span id="erreur-courriel"></span>
        </div>
        <div class="adresse">
            <label for="adresse">Adresse Civique</label>
            <input type="number" name="adresse" id="adresse" required>
            <span id="erreur-adresse"></span>
        </div>
        <div class="ville">
            <label for="ville">Ville</label>
            <input type="text" name="ville" id="ville" required>
            <span id="erreur-ville"></span>
        </div>
        <div class="description">
            <label for="envoyer">description</label>
            <textarea name="description" id="description" required></textarea>
            <span id="erreur-description"></span>
        </div>
    
        <div class="boutton-envoyer">
            <input type="submit" value="Envoyer" id="envoyer">
        </div>
    </form>
</div>

