<header>
    <span><a href="/"><img src="assets/imageAfrique.png" alt="Logo Afrique"></a></span>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/enregistrer-animal">Enregistrer Animal</a></li>
            <li><a href="/culture-animal">Culture Animal</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <span>
        <a href="contact.html"><span>Contactez-nous</span></a>
    </span>
    <div class="social-media">

    </div>
</header>