{%extends "index.html"%}
{%block content%}

<div class="title-page">
    <h1>L'Afrique, <br>le grenier du monde</h1>
    <p>
        Découvrez la richesse et la diversité culturelle de l'Afrique à travers nos contenus inspirants et éducatifs. 
        De la beauté authentique aux traditions ancestrales, plongez dans un voyage captivant au cœur du continent africain.
        Explorez, apprenez et célébrez avec nous la magnificence de l'Afrique.
    </p>
    <div class="main-buttons">
        <a href="a-propos.html"><span class="incolore">Explorez l'Afrique</span></a>
        <a href="contact.html"><span>Contactez-nous</span></a>
    </div>
    
</div>
<div class="main-outils">
    <div class="item">
        <i class="fa-solid fa-font-awesome"></i>
        <h2>Diversité</h2>
        <p>un continent aux cultures, langues, paysages et climats extraordinairement variés.</p>
    </div>
    <div class="item">
        <i class="fa-solid fa-earth-africa"></i>
        <h2>Jeunesse</h2>
        <p>La population la plus jeune du monde, avec un potentiel immense pour l'avenir.</p>
    </div>
    <div class="item">
        <i class="fa-brands fa-pagelines"></i>
        <h2>Ressources</h2>
        <p>Riche en ressources naturelles, y compris minéraux, pétrole, gaz naturel et terres fertiles.</p>
    </div>
    <div class="item">
        <i class="fa-solid fa-sun-plant-wilt"></i>
        <h2>Défis</h2>
        <p>Un continent confronté à de nombreux défis, notamment la pauvreté, les inégalités, les conflits et le changement climatique.</p>
    </div>
</div>
</div>

<div class="main-about-us">
<div class="formulaire">
    <form>
        <div class="nom">
            <input type="text" placeholder="nom" id="nom">
        </div>
        <div class="nom">
            <select name="Destination" id="Destination">
                <option value="">Cameroun</option>
                <option value="">Cote d'ivoire</option>
                <option value="">Togo</option>
                <option value="">Gabon</option>
                <option value="">Nigeria</option>
            </select>
        </div>
        <div class="nom">
            <input type="date">
        </div>
        <div class="button-envoi">
            <input type="submit" value="Envoyer">
        </div>
    </form>
    <h2>A propos de nous</h2>
    <h1>Vennez decouvir la magnificence de l'Afrique dans toute sa splendeur</h1>
    <p>
        Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.
        À travers nos articles, photos, vidéos et témoignages, nous souhaitons partager avec le monde la richesse et la splendeurde ce continent fascinant.
        Nos experts en culture africaine, historiens, journalistes, photographes et vidéastes travaillent ensemble pour vous offrir un contenu authentique et enrichissant.
    </p>
    <p>
        L'Afrique, berceau de l'humanité, se dresse fièrement comme le deuxième plus grand continent du globe, abritant une mosaïque de cultures, de paysages et d'histoires 
        captivantes. Ses 54 nations, chacune avec sa propre identité vibrante, racontent des récits millénaires de traditions ancestrales, de royaumes prospères et de luttes 
        pour l'indépendance.
    </p>
    <a href="a-propos.html"><span>En savoir plus</span></a>
</div>

<div class="image-apropos">
    <img src="assets/photo-about.jpg" alt="image a propos">
</div>
</div>
<div class="pourquoi-venir">
<h2>Pourquoi venir en Afrique ?</h2>
<h1>L'Afrique, une destination de reve</h1>
<p>
    Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.
    À travers nos articles, photos, vidéos et témoignages, nous souhaitons partager avec le monde la richesse et la splendeurde ce continent fascinant.
</p>
<a href="contact.html"><span class="button-blanc">Contactez-nous</span></a>
</div>

<div class="Lieux-artistique">
<h2>Visitez l'Afrique</h2>
<h1>Nos lieux Lieux artistique</h1>
<p>
    Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.
    À travers nos articles, photos, vidéos et témoignages, nous souhaitons partager avec le monde la richesse et la splendeurde ce continent fascinant.
</p>
<a href="a-propos.html"><span>Voir plus <i class="fa-solid fa-arrow-right"></i></span></a>

<div class="cartes-afrique">
    <div class="carte">
        <div class="image">
            <img src="assets/carte1.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <h2>Place du Bardo, Alger, Algérie</h2>
            <p>Admirez une collection d'antiquités berbères et romaines, des bijoux exquis et des manuscrits islamiques dans ce palais ottoman restauré.</p>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/carte2.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <h2>Zeitz Mocaa, Le Cap</h2>
            <p>Ce musée d'art contemporain africain abrite une collection impressionnante d'œuvres d'artistes du continent et de la diaspora.</p>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/carte3.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <h2>Fondation Zinsou, Cotonou</h2>
            <p>Découvrez l'art contemporain d'Afrique de l'Ouest et de la diaspora dans ce centre dynamique qui propose également des expositions.</p>
        </div>
    
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/carte4.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <h2>Maison de la Photographie au Maroc</h2>
            <p>Explorez l'histoire de la photographie au Maroc et en Afrique  et en Afrique du Nord à travers des expositions .</p>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/carte5.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <h2>Mémorial du Génocide de Kigali</h2>
            <p> Ce lieu de mémoire poignant commémore les victimes du génocide au Rwanda.</p>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/carte6.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <h2>Les Grottes d'Ongongo</h2>
            <p>Admirez les peintures rupestres millénaires qui ornent les murs de ces grottes, offrant un aperçu de la vie et des croyances.</p>
        </div>
    </div>
</div>
</div>




<div class="partenaires">
    <h1>Nos Partenaires</h1>
    <img src="assets/camerounLogo.png" alt="Logo Cameroun">
    <img src="assets/logoSenegal.png" alt="Logo Senegal">
    <img src="assets/download.png" alt="logo Togo">
</div>
<div class="newsletter">
    <h2>newsletter</h2>
    <h1>Inscrivez vous et restez a fleur de nos nouveaux contenus</h1>
    <p>Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.</p>
    <div class="form">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">S'inscrire</button>
    </div>
</div>

{%endblock%}