{%extends "index.html"%}


{%block content%}
<div class="title-page">
    <h1>Notre Blog</h1> 
</div>
</div>

<div class="Lieux-artistique">
<h2>Visitez l'Afrique</h2>
<h1>Consultez nos articles de blog</h1>
<p>
    Des rythmes endiablés du djembé aux mélodies envoûtantes du mbalax, la musique africaine exprime la joie, la spiritualité et 
    la vie quotidienne. La danse, souvent liée à la musique, est une forme d'expression puissante et visuelle.
</p>


<div class="cartes-afrique">
    <div class="carte">
        <div class="image">
            <img src="assets/annie-spratt-cVEOh_JJmEE-unsplash.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <p>Les Joyaux Cachés de l'Afrique : 5 Destinations Incontournables</p>
            <p class="couleur">Découvrez des destinations moins connues mais incroyablement belles à travers..</p>
            <a href="#">Lire l'article <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/annie-spratt-GaLzDCnA5EI-unsplash.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <p>Innovations Africaines : Comment la Technologie Change le Continent</p>
            <p class="couleur">Explorez comment les avancées technologiques transforment les économies africaines..</p>
            <a href="#">Lire l'article <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/bennett-tobias-Tt_X-AHU3tg-unsplash.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <p>La Richesse Culturelle de l'Afrique : Traditions et Modernité</p>
            <p class="couleur">Plongez dans la diversité culturelle de l'Afrique, en explorant comment les traditions..</p>
            <a href="#">Lire l'article <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
     
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/bill-wegener-7MD4DR9jbP0-unsplash.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <p>Safaris en Afrique : Une Aventure Inoubliable au Cœur de la Faune Sauvage</p>
            <p class="couleur">Une guide sur les meilleures réserves naturelles pour un safari, avec des..</p>
            <a href="#">Lire l'article <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/carte5.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <p>Gastronomie Africaine : Un Voyage Culinaire à Travers le Continent</p>
            <p class="couleur">Savourez les délices de la cuisine africaine avec un tour d'horizon des plats traditionnels et modernes..</p>
            <a href="#">Lire l'article <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img src="assets/dmitrii-zhodzishskii-JyN-RZBCwRo-unsplash.jpg" alt="image1">
        </div>
        <div class="contenu">
            <div class="icon"></div>
            <p>Défis et Opportunités : Le Développement Durable en Afrique</p>
            <p class="couleur">Analyse des principaux défis environnementaux auxquels l'Afrique est confrontée, ainsi que..</p>
            <a href="#">Lire l'article <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
    </div>
</div>
</div>
<div class="pourquoi-venir">
<h2>Pourquoi venir en Afrique ?</h2>
<h1>L'Afrique, une destination de reve</h1>
<p>
    Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.
    À travers nos articles, photos, vidéos et témoignages, nous souhaitons partager avec le monde la richesse et la splendeurde ce continent fascinant.
</p>
<a href="contact.html"><span class="button-blanc">Contactez-nous</span></a>
</div>

<div class="newsletter">
<h2>newsletter</h2>
<h1>Inscrivez vous et restez a fleur de nos nouveaux contenus</h1>
<p>Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.</p>
<div class="form">
    <input type="email" name="email" placeholder="Email">
    <button type="submit">S'inscrire</button>
</div>
</div>

{%endblock%}