{%extends "index.html"%}

{%block content%}
<div class="title-page">
    <h1>Culture et Traditions!</h1> 
</div>
</div>


<div class="main-about-us">
<div class="formulaire culture">
    
    <h2>Culture et traditions</h2>
    <h1>La culture africaine: Un kaléidoscope vibrant</h1>
    <p> 
        La culture africaine: Un kaléidoscope vibrant
        L'Afrique, continent immense et divers, abrite une tapisserie riche et complexe de cultures. De l'art aux rituels,
        en passant par les langues et les traditions sociales, chaque région possède son identité unique, façonnée par des 
        siècles d'histoire, d'interactions et d'adaptations.
    </p>
  
    <a href="contact.html"><span>Contactez-nous</span></a>
</div>

<div class="image-apropos">
   <video src="https://www.youtube.com/embed/GrJpwXvyb5w?si=hY09v3s6ZM_puuzX" width="500" height="360" controls></video>
</div>
</div>

<div class="avantage">
<h1>Ce que nous vous offons lors de votre premiere visite</h1>
<ul>
   
    <li><i class="fa-solid fa-circle-check"></i>Un voyage en premiere classe</li>
    <li><i class="fa-solid fa-circle-check"></i>Une vue exclusive sur l'etendu du territoire</li>
    <li><i class="fa-solid fa-circle-check"></i>Des repas varie </li>
    <li><i class="fa-solid fa-circle-check"></i>Des places exclusives pour nos evennements </li>
</ul>
</div>

<div class="pourquoi-venir">
<h2>Pourquoi venir en Afrique ?</h2>
<h1>L'Afrique, une destination de reve</h1>
<p>
    Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.
    À travers nos articles, photos, vidéos et témoignages, nous souhaitons partager avec le monde la richesse et la splendeurde ce continent fascinant.
</p>
<button class="button-blanc"><a href="contact.html">Contactez-nous</a></button>
</div>

<div class="newsletter">
<h2>newsletter</h2>
<h1>Inscrivez vous et restez a fleur de nos nouveaux contenus</h1>
<p>Notre mission est de mettre en lumière les trésors culturels et les traditions uniques de chaque région africaine.</p>
<div class="form">
    <input type="email" name="email" placeholder="Email">
    <button type="submit">S'inscrire</button>
</div>
</div>

{%endblock%}